:root {
    --primary-color: #4184a4;
    --secondary-color: #3bb2e2;
    --error-color: #f5222d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
